<div class="page-cnt">

    <BCHTabsDraggableContext TItem="string">

        <div class="test-page-container">

            <div class="tab-panel">
                <BCHTabs TItem="string"
                         Draggable="true"
                         @bind-Selected="_selected1"
                         MinimalTabCount="2"
                         Items="_items1">

                    <TabTemplate Context="item">
                        <div class="bch-no-selectable-text"
                             style="width: 100%; height: 100%; border: 1px solid blue; @(_selected1 == item ? "background: yellow;" : "")">
                            @($"{item}")
                        </div>
                    </TabTemplate>

                    <ContentTemplate Context="item">
                        <div class="tab-content-wrapper">@item</div>
                    </ContentTemplate>

                </BCHTabs>
            </div>

            <div class="tab-panel">
                <BCHTabs TItem="string"
                         Draggable="true"
                         @bind-Selected="_selected2"
                         Items="_items2">

                    <TabTemplate Context="item">
                        <div class="bch-no-selectable-text"
                             style="width: 100%; height: 100%; border: 1px solid blue; @(_selected2 == item ? "background: yellow;" : "")">
                            @($"{item}")
                        </div>
                    </TabTemplate>

                    <ContentTemplate Context="item">
                        <div class="tab-content-wrapper">@item</div>
                    </ContentTemplate>

                </BCHTabs>
            </div>

        </div>

        <div class="test-page-container">

            <div class="tab-panel">
                <BCHTabs TItem="string"
                         Draggable="true"
                         @bind-Selected="_selected3"
                         Items="_items3">

                    <TabTemplate Context="item">
                        <div class="bch-no-selectable-text"
                             style="width: 100%; height: 100%; border: 1px solid blue; @(_selected3 == item ? "background: yellow;" : "")">
                            @($"{item}")
                        </div>
                    </TabTemplate>

                    <ContentTemplate Context="item">
                        <div class="tab-content-wrapper">@item</div>
                    </ContentTemplate>

                </BCHTabs>
            </div>

            <div class="tab-panel">
                <BCHTabs TItem="string"
                         Draggable="true"
                         @bind-Selected="_selected4"
                         Items="_items4">

                    <TabTemplate Context="item">
                        <div class="bch-no-selectable-text"
                             style="width: 100%; height: 100%; border: 1px solid blue; @(_selected4 == item ? "background: yellow;" : "")">
                            @($"{item}")
                        </div>
                    </TabTemplate>

                    <ContentTemplate Context="item">
                        <div class="tab-content-wrapper">@item</div>
                    </ContentTemplate>

                </BCHTabs>
            </div>

        </div>

    </BCHTabsDraggableContext>
</div>