@page "/dragging-modal"

<BCHDraggingModal Show="true"
                  Width="350px"
                  Height="500px"
                  ContainerId="@_containerId1"
                  HandleId="@_containerId1">

    <div id="@_containerId1" class="dialog-wrapper"></div>

</BCHDraggingModal>

<BCHDraggingModal Show="true"
                  Width="350px"
                  Height="500px"
                  ContainerId="@_containerId2"
                  HandleId="@_containerId2">

    <div id="@_containerId2" class="dialog-wrapper"></div>

</BCHDraggingModal>