@typeparam TItem

<div class="bch-default-tab-container @(IsSelected ? "bch-selected" : "")">
    <div class="bch-icon">
        <img src="@(IsSelected ? _selectedIconImage : _iconImage)" 
             draggable="false"/>
    </div>
    <div class="bch-name">@_defaultTabText.Invoke(Item)</div> 
    <div class="bch-close @(!ShowCloseButton ? "bch-hide" : "bch-tab-control-btn")"
         @onclick="OnCloseClickedAsync">
        <img draggable="false"
             src="@(IsSelected ? _closeIconSelected : _closeIcon)"/>
    </div>

    <div class="bch-bottom-line"></div>
</div>