@if (!DropZoneOnly)
{
<div id="@_containerId"
     class="@($"bch-component bch-inputfile-container bch-no-selectable-text {GetThemeCssClass()} {(_hasFile ? "has-selected" : "")} {CssClass} {_cssKey}")"
     style="@($"width: {Width}px; height: {Height}px;")"
     tabindex="-1">

    <div class="bch-button bch-no-selectable-text"
         @onclick="OnSelectClickedAsync">

        <input id="@_inputId"
               @key="@_inputKey"
               class="bch-file-input"
               type="file"
               @ref="_fileInputRef"
               @attributes="_inputAttributes"
               @onbchonfilechange="OnChangedInternalAsync"
               @ondragenter:preventDefault
               @ondragover:preventDefault
               @ondrop:stopPropagation
               @ondrop:preventDefault />
        @if (!_hasFile)
        {
            <div class="bch-upload"></div>
            <label class="bch-no-selectable-text">@Placeholder</label>
            <span class="bch-arrow"></span>
        }
        else
        {
            <div class="bch-filetype-icon @_fileExtensionCssClass"></div>
            <span class="bch-filename">@_fileName</span>
            <button type="button" class="bch-clear" @onclick:stopPropagation @onclick="OnClearClickedAsync"></button>
        }
    </div>

</div>
}

@if (DropZoneOnly)
{
    <div class="@($"bch-component bch-inputfile-dropzone-container bch-no-selectable-text {GetThemeCssClass()} {_cssKey}")"
         style="@($"width: {Width}px; height: 124px;")"
         @ondragenter="OnDragEnter"
         @ondragenter:preventDefault
         @ondragover="OnDragOver"
         @ondragover:preventDefault
         @ondrop="OnDrop"
         @ondrop:preventDefault
         @ondragleave="OnDragLeave">
        <div class="@($"bch-dropzone {(_isDraggingOver ? "dragover" : "")}")">
            <div class="icon"></div>
            <div class="label">@(_isDraggingOver ? "Drop it here" : "Drop files in")</div>
        </div>
    </div>
}

<style>
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > label,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > label,
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filename,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filename {
        color: #E5E7EB;
        caret-color: #E5E7EB;
    }

    /* THEME: LightGreen (current) */

    .@(_cssKey).bch-theme-light-green.bch-inputfile-dropzone-container > .bch-dropzone,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone {
        border-color: rgba(51, 180, 105, 0.8);
        background: rgba(51, 180, 105, 0.04);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-dropzone-container > .bch-dropzone > .icon,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone > .icon {
        background-image: url(_content/Bch.Components.InputFile/img/upload-green.svg);
    }

    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-arrow,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-arrow {
        background: url(_content/Bch.Components.InputFile/img/upload-green.svg) center no-repeat;
        background-size: 14px 14px;
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-clear,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-clear {
        background-image: url(_content/Bch.Components.InputFile/img/clear-green.svg);
    }

    /* LightGreen theme: file type icons */
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-generic-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-img-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-zip-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-txt-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-xls-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ppt-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-pdf-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-audio,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-audio {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-audio-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-video,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-video {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-video-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-code,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-code {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-code-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-script,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-script {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-script-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-vector,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-vector {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-vector-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-font,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-font {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-font-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-db,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-db {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-db-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ebook,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ebook {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ebook-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-3d,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-3d {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-3d-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-design,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-design {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-design-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-exe,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-exe {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-exe-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-disc,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-disc {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-disc-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-package,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-package {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-package-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-data,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-data {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-data-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-sub,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-sub {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-sub-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-notebook,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-notebook {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-notebook-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-raw,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-raw {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-raw-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cad,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cad {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-cad-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-torrent,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-torrent {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-torrent-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cert,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cert {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-cert-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-gis,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-gis {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-gis-green.svg);
    }

    /* THEME: Light (silver monochrome) */

    .@(_cssKey).bch-theme-light.bch-inputfile-dropzone-container > .bch-dropzone,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone {
        border-color: #BDBDBD;
        background: rgba(0, 0, 0, 0.03);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-dropzone-container > .bch-dropzone > .icon,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone > .icon {
        background-image: url(_content/Bch.Components.InputFile/img/upload.svg);
    }

    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-arrow,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-arrow {
        background: url(_content/Bch.Components.InputFile/img/upload.svg) center no-repeat;
        background-size: 14px 14px;
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-clear,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-clear {
        background-image: url(_content/Bch.Components.InputFile/img/clear.svg);
    }

    /* Light theme: file type icons */
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-generic-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-img-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-zip-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-txt-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-xls-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ppt-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-pdf-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-audio,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-audio {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-audio-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-video,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-video {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-video-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-code,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-code {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-code-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-script,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-script {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-script-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-vector,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-vector {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-vector-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-font,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-font {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-font-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-db,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-db {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-db-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ebook,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ebook {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ebook-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-3d,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-3d {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-3d-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-design,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-design {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-design-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-exe,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-exe {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-exe-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-disc,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-disc {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-disc-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-package,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-package {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-package-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-data,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-data {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-data-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-sub,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-sub {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-sub-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-notebook,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-notebook {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-notebook-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-raw,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-raw {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-raw-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cad,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cad {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-cad-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-torrent,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-torrent {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-torrent-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cert,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cert {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-cert-grey.svg);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-gis,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-gis {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-gis-grey.svg);
    }

    /* THEME: Dark */

    .@(_cssKey).bch-theme-dark.bch-inputfile-dropzone-container > .bch-dropzone,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone {
        border-color: #E5E7EB;
        background: #111827;
        color: #E5E7EB;
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-dropzone-container > .bch-dropzone.dragover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone.dragover {
        border-color: #F3F4F6;
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-dropzone-container > .bch-dropzone > .icon,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone > .icon {
        background-image: url(_content/Bch.Components.InputFile/img/upload-white.svg);
    }

    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-arrow,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-arrow {
        background: url(_content/Bch.Components.InputFile/img/upload-white.svg) center no-repeat;
        background-size: 14px 14px;
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-clear,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-clear {
        background-image: url(_content/Bch.Components.InputFile/img/clear-white.svg);
    }

    /* Dark theme: file type icons */
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-generic-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-img-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-zip-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-txt-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-xls-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ppt-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-pdf-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-audio,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-audio {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-audio-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-video,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-video {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-video-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-code,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-code {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-code-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-script,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-script {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-script-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-vector,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-vector {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-vector-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-font,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-font {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-font-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-db,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-db {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-db-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ebook,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ebook {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ebook-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-3d,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-3d {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-3d-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-design,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-design {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-design-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-exe,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-exe {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-exe-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-disc,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-disc {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-disc-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-package,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-package {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-package-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-data,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-data {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-data-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-sub,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-sub {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-sub-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-notebook,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-notebook {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-notebook-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-raw,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-raw {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-raw-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cad,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cad {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-cad-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-torrent,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-torrent {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-torrent-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cert,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-cert {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-cert-white.svg);
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-gis,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-gis {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-gis-white.svg);
    }
</style>