@using Bch.Components.InputFile.FilesList

<div id="@_containerId"
     class="bch-component bch-input-file-container bch-no-selectable-text @($"{GetThemeCssClass()} {(_files.Count > 1 ? "bch-multiple-files" : "")} {CssClass} {(_showSelectedFiles ? "bch-show-selected-files" : "")}")"
     style="@($"width: {Width}; height: {Height};")"
     tabindex="-1">

    <div class="bch-button bch-no-selectable-text">
        <input id="@_inputId"
               @key="@_inputKey"
               class="bch-file-input"
               type="file"
               @attributes="AdditionalAttributes"
               @onbchonfilechange="OnChangedInternalAsync"
               @ondragenter:preventDefault
               @ondragover:preventDefault
               @ondrop:stopPropagation
               @ondrop:preventDefault />

        <label class="bch-no-selectable-text">@GetInfoText()</label>

        @if (_files.Count > 0)
        {
            if (_files.Count > 1)
            {
                <button type="button" class="bch-btn bch-expand"
                        @onclick="OnExpandFilesListAsync"
                        @onclick:stopPropagation>
                </button>
            }
            
            <button type="button" class="bch-btn bch-clear"
                    @onclick="OnClearClickedAsync"
                    @onclick:stopPropagation>
            </button>
        }
        else
        {
            <span class="bch-file-select-icon"></span>
        }
    </div>
</div>

<FilesListComponent @bind-Show="_showSelectedFiles"
                    Width="@Width"
                    ContainerId="@_containerId"
                    Files="@_files"
                    Position="@_ddlContentPos"/>