@if (!DropZoneOnly)
{
<div id="@_containerId"
     class="@($"bch-component bch-inputfile-container bch-no-selectable-text {GetThemeCssClass()} {(_hasFile ? "has-selected" : "")} {CssClass} {_cssKey}")"
     style="@($"width: {Width}px; height: {Height}px;")"
     tabindex="-1">

    <div class="bch-button bch-no-selectable-text"
         @onclick="OnSelectClickedAsync">

        <input id="@_inputId"
               @key="@_inputKey"
               class="bch-file-input"
               type="file"
               @ref="_fileInputRef"
               @attributes="_inputAttributes"
               @onbchonfilechange="OnChangedInternalAsync"
               @ondragenter:preventDefault
               @ondragover:preventDefault
               @ondrop:stopPropagation
               @ondrop:preventDefault />
        @if (!_hasFile)
        {
            <div class="bch-upload"></div>
        }
        else
        {
            <div class="bch-filetype-icon @_fileExtensionCssClass"></div>
        }

        @if (!_hasFile)
        {
            <label class="bch-no-selectable-text">@Placeholder</label>
        }
        else
        {
            <span class="bch-filename">@_fileName</span>
        }

        @if (_hasFile)
        {
            <button type="button" class="bch-clear" @onclick:stopPropagation @onclick="OnClearClickedAsync"></button>
        }
        else
        {
            <span class="bch-arrow"></span>
        }
    </div>

</div>
}

@if (DropZoneOnly)
{
    <div class="@($"bch-component bch-inputfile-dropzone-container bch-no-selectable-text {GetThemeCssClass()} {_cssKey}")"
         style="@($"width: {Width}px; height: 124px;")"
         @ondragenter="OnDragEnter"
         @ondragenter:preventDefault
         @ondragover="OnDragOver"
         @ondragover:preventDefault
         @ondrop="OnDrop"
         @ondrop:preventDefault
         @ondragleave="OnDragLeave">
        <div class="@($"bch-dropzone {(_isDraggingOver ? "dragover" : "")}")">
            <div class="icon"></div>
            <div class="label">@(_isDraggingOver ? "Drop it here" : "Drop files in")</div>
        </div>
    </div>
}

<style>
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > label,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > label,
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-filename,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filename {
        color: #E5E7EB;
        caret-color: #E5E7EB;
    }

    /* THEME: LightGreen (current) */

    .@(_cssKey).bch-theme-light-green.bch-inputfile-dropzone-container > .bch-dropzone,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone {
        border-color: rgba(51, 180, 105, 0.8);
        background: rgba(51, 180, 105, 0.04);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-dropzone-container > .bch-dropzone > .icon,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone > .icon {
        background-image: url(_content/Bch.Components.InputFile/img/upload-green.svg);
    }

    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-arrow,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-arrow {
        background: url(_content/Bch.Components.InputFile/img/upload-green.svg) center no-repeat;
        background-size: 14px 14px;
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-clear,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-clear {
        background-image: url(_content/Bch.Components.InputFile/img/clear-green.svg);
    }

    /* LightGreen theme: file type icons */
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-generic {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-generic-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-img {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-img-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-zip {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-zip-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-txt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-txt-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-xls {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-xls-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-ppt {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-ppt-green.svg);
    }
    .@(_cssKey).bch-theme-light-green.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-filetype-icon.ext-pdf {
        background-image: url(_content/Bch.Components.InputFile/img/extensions/file-pdf-green.svg);
    }

    /* THEME: Light (silver monochrome) */

    .@(_cssKey).bch-theme-light.bch-inputfile-dropzone-container > .bch-dropzone,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone {
        border-color: #BDBDBD;
        background: rgba(0, 0, 0, 0.03);
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-dropzone-container > .bch-dropzone > .icon,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone > .icon {
        background-image: url(_content/Bch.Components.InputFile/img/upload.svg);
    }

    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-arrow,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-arrow {
        background: url(_content/Bch.Components.InputFile/img/upload.svg) center no-repeat;
        background-size: 14px 14px;
    }
    .@(_cssKey).bch-theme-light.bch-inputfile-container > .bch-button > .bch-clear,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-clear {
        background-image: url(_content/Bch.Components.InputFile/img/clear.svg);
    }

    /* THEME: Dark */

    .@(_cssKey).bch-theme-dark.bch-inputfile-dropzone-container > .bch-dropzone,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone {
        border-color: #E5E7EB;
        background: #111827;
        color: #E5E7EB;
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-dropzone-container > .bch-dropzone.dragover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone.dragover {
        border-color: #F3F4F6;
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-dropzone-container > .bch-dropzone > .icon,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-dropzone-container > .bch-dropzone > .icon {
        background-image: url(_content/Bch.Components.InputFile/img/upload-white.svg);
    }

    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-arrow,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-arrow {
        background: url(_content/Bch.Components.InputFile/img/upload-white.svg) center no-repeat;
        background-size: 14px 14px;
    }
    .@(_cssKey).bch-theme-dark.bch-inputfile-container > .bch-button > .bch-clear,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-inputfile-container > .bch-button > .bch-clear {
        background-image: url(_content/Bch.Components.InputFile/img/clear-white.svg);
    }
</style>