@page "/tabs"
@using Bch.Components.Tabs
@using Bch.Components.Tabs.TabsDraggableContext

<div class="page-cnt">

    <BchTabsDraggableContext TItem="string">
        <div class="test-page-container">
            <div class="tab-panel">

                <BchTabs TItem="TabModel"
                         DefaultTabText="x => x.Name"
                         TabWidthPredicate="x => x.Width"
                         Draggable="true"
                         ScrollTabWidth="200"
                         Items="_items">

                    @* <TabTemplate Context="item"> *@
                    @*     <div class="bch-no-selectable-text" *@
                    @*          style="width: 100%; height: 100%; border: 1px solid blue; @(_selected1 == item ? "background: yellow;" : "")"> *@
                    @*         @($"{item}") *@
                    @*     </div> *@
                    @* </TabTemplate> *@

                    <ContentTemplate Context="item">

                        @* @if (item.Contains("0")) *@
                        @* { *@
                        @*     <TestContentComponent/> *@
                        @* } *@
                        @* else *@
                        @* { *@
                        @*     <div class="tab-content-wrapper">@item</div> *@
                        @* } *@
                        
                        <div class="tab-content-wrapper">@item.Name</div>

                    </ContentTemplate>

                </BchTabs>

            </div>

            @* <div class="tab-panel"> *@
            @* *@
            @*     $1$ <BchTabs TItem="string" #1# *@
            @*     $1$          Draggable="true" #1# *@
            @*     $1$          @bind-Selected="_selected2" #1# *@
            @*     $1$          Items="_items2"> #1# *@
            @*     $1$ #1# *@
            @*     $1$     <TabTemplate Context="item"> #1# *@
            @*     $1$         <div class="bch-no-selectable-text" #1# *@
            @*     $1$              style="width: 100%; height: 100%; border: 1px solid blue; @(_selected2 == item ? "background: yellow;" : "")"> #1# *@
            @*     $1$             @($"{item}") #1# *@
            @*     $1$         </div> #1# *@
            @*     $1$     </TabTemplate> #1# *@
            @*     $1$ #1# *@
            @*     $1$     <ContentTemplate Context="item"> #1# *@
            @*     $1$         $2$ @if (item.Contains("0")) #2# #1# *@
            @*     $1$         $2$ { #2# #1# *@
            @*     $1$         $2$     <TestContentComponent/> #2# #1# *@
            @*     $1$         $2$ } #2# #1# *@
            @*     $1$         $2$ else #2# #1# *@
            @*     $1$         $2$ { #2# #1# *@
            @*     $1$         $2$     <div class="tab-content-wrapper">@item</div> #2# #1# *@
            @*     $1$         $2$ } #2# #1# *@
            @*     $1$          #1# *@
            @*     $1$         <div class="tab-content-wrapper">@item</div> #1# *@
            @*     $1$     </ContentTemplate> #1# *@
            @*     $1$ #1# *@
            @*     $1$ </BchTabs> #1# *@
            @* *@
            @* </div> *@

        </div>
    </BchTabsDraggableContext>

</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>