@page "/radio-buttons"
@using Bch.Components.RadioButton.RadioButtonComponent
@using Bch.Components.RadioButton.RadioButtonsContainer
@using Bch.Modules.Themes.Models

<div class="page-cnt">

    @* <div>Selected: @_selected</div> *@
    
    <div class="test-cases">
        <div class="test-case">
            <h4>Themed Variants</h4>
            <div class="themes-row">
                <div class="theme-col">
                    <h5>Light Green</h5>
                    <BchRadioButtonsContainer TItem="string" Theme="BchTheme.LightGreen">
                        <BchRadioButton TItem="string" Key="@("Item 1")" />
                        <BchRadioButton TItem="string" Key="@("Item 2")"/>
                        <BchRadioButton TItem="string" Key="@("Item 3")"/>
                    </BchRadioButtonsContainer>
                    <h6>Disabled</h6>
                    <BchRadioButtonsContainer TItem="string" Theme="BchTheme.LightGreen" Selected="@("Disabled Selected")">
                        <BchRadioButton TItem="string" Key="@("Disabled Selected")" Disabled="true" />
                        <BchRadioButton TItem="string" Key="@("Disabled Unselected")" Disabled="true" />
                        <BchRadioButton TItem="string" Key="@("Enabled")" />
                    </BchRadioButtonsContainer>
                </div>
                <div class="theme-col">
                    <h5>Light</h5>
                    <BchRadioButtonsContainer TItem="string" Theme="BchTheme.Light">
                        <BchRadioButton TItem="string" Key="@("Item 1")" />
                        <BchRadioButton TItem="string" Key="@("Item 2")"/>
                        <BchRadioButton TItem="string" Key="@("Item 3")"/>
                    </BchRadioButtonsContainer>
                    <h6>Disabled</h6>
                    <BchRadioButtonsContainer TItem="string" Theme="BchTheme.Light" Selected="@("Disabled Selected")">
                        <BchRadioButton TItem="string" Key="@("Disabled Selected")" Disabled="true" />
                        <BchRadioButton TItem="string" Key="@("Disabled Unselected")" Disabled="true" />
                        <BchRadioButton TItem="string" Key="@("Enabled")" />
                    </BchRadioButtonsContainer>
                </div>
                <div class="theme-col">
                    <h5>Dark</h5>
                    <BchRadioButtonsContainer TItem="string" Theme="BchTheme.Dark">
                        <BchRadioButton TItem="string" Key="@("Item 1")" />
                        <BchRadioButton TItem="string" Key="@("Item 2")"/>
                        <BchRadioButton TItem="string" Key="@("Item 3")"/>
                    </BchRadioButtonsContainer>
                    <h6>Disabled</h6>
                    <BchRadioButtonsContainer TItem="string" Theme="BchTheme.Dark" Selected="@("Disabled Selected")">
                        <BchRadioButton TItem="string" Key="@("Disabled Selected")" Disabled="true" />
                        <BchRadioButton TItem="string" Key="@("Disabled Unselected")" Disabled="true" />
                        <BchRadioButton TItem="string" Key="@("Enabled")" />
                    </BchRadioButtonsContainer>
                </div>
            </div>
        </div>
    </div>
    
    <br/>

    <BchRadioButtonsContainer TItem="string">
        <BchRadioButton TItem="string" Key="@("Item 9")" />
        <BchRadioButton TItem="string" Key="@("Item 10")">
            <DataTemplate>
                <h3>my-custom-data-text</h3>
            </DataTemplate>
        </BchRadioButton>
        <BchRadioButton TItem="string" Key="@("Item 11")" />
        <BchRadioButton TItem="string" Key="@("Item 12")" />
        <BchRadioButton TItem="string" Key="@("Item 13")">
            <CircleTemplate Context="selected">
                <div style="width: 20px; height: 20px; background: @(selected ? "red" : "black");"></div>
            </CircleTemplate>
        </BchRadioButton>
        <BchRadioButton TItem="string" Key="@("Item 14")" />
        <BchRadioButton TItem="string" Key="@("Item 15")">
            <ContentTemplate Context="selected">
                <div style="color: @(selected ? "red" : "");">custom-text</div>
            </ContentTemplate>
        </BchRadioButton>
    </BchRadioButtonsContainer>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>