@page "/scheduler"
@using Bch.Components.Scheduler.AppointmentItem
@using Bch.Components.Scheduler
@using Bch.Modules.Themes.Models

<div>
    <h3>Scheduler Component Test</h3>

    <div class="test-cases">
        <div class="themes-section test-case">
            <h3>Themed Variants</h3>
            <div class="themes-row">
                <div class="theme-col">
                    <h4>Light Green</h4>
                    <div class="scheduler-container">
                        <BchScheduler Appointments="_appointments"
                                      ShowDatePicker="true"
                                      ShowTodayButton="true"
                                      Gap="8px"
                                      Theme="BchTheme.LightGreen">

                            <BchAppointmentItem Key="type-1" Context="appointment">
                                <div class="type-1">
                                    <div class="start">Start: @appointment.Start.ToString("HH:mm")</div>
                                    <div class="end">End: @appointment.End.ToString("HH:mm")</div>
                                    <div class="name">Name: @((string)appointment.Payload)</div>
                                </div>
                            </BchAppointmentItem>

                            <BchAppointmentItem Key="type-2" Context="appointment">
                                <div class="type-2">
                                    <div class="difference">Diff: @(appointment.End - appointment.Start)</div>
                                    <div class="count">Count: @((int)appointment.Payload)</div>
                                </div>
                            </BchAppointmentItem>

                        </BchScheduler>
                    </div>
                </div>
                
                <div class="theme-col">
                    <h4>Light</h4>
                    <div class="scheduler-container">
                        <BchScheduler Appointments="_appointments"
                                      ShowDatePicker="true"
                                      ShowTodayButton="true"
                                      Gap="8px"
                                      Theme="BchTheme.Light">

                            <BchAppointmentItem Key="type-1" Context="appointment">
                                <div class="type-1">
                                    <div class="start">Start: @appointment.Start.ToString("HH:mm")</div>
                                    <div class="end">End: @appointment.End.ToString("HH:mm")</div>
                                    <div class="name">Name: @((string)appointment.Payload)</div>
                                </div>
                            </BchAppointmentItem>

                            <BchAppointmentItem Key="type-2" Context="appointment">
                                <div class="type-2">
                                    <div class="difference">Diff: @(appointment.End - appointment.Start)</div>
                                    <div class="count">Count: @((int)appointment.Payload)</div>
                                </div>
                            </BchAppointmentItem>

                        </BchScheduler>
                    </div>
                </div>
                
                <div class="theme-col">
                    <h4>Dark</h4>
                    <div class="scheduler-container">
                        <BchScheduler Appointments="_appointments"
                                      ShowDatePicker="true"
                                      ShowTodayButton="true"
                                      Gap="8px"
                                      Theme="BchTheme.Dark">

                            <BchAppointmentItem Key="type-1" Context="appointment">
                                <div class="type-1">
                                    <div class="start">Start: @appointment.Start.ToString("HH:mm")</div>
                                    <div class="end">End: @appointment.End.ToString("HH:mm")</div>
                                    <div class="name">Name: @((string)appointment.Payload)</div>
                                </div>
                            </BchAppointmentItem>

                            <BchAppointmentItem Key="type-2" Context="appointment">
                                <div class="type-2">
                                    <div class="difference">Diff: @(appointment.End - appointment.Start)</div>
                                    <div class="count">Count: @((int)appointment.Payload)</div>
                                </div>
                            </BchAppointmentItem>

                        </BchScheduler>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>