@page "/tabs"
@using BlazorComponentHeap.Components.Tabs.TabsDraggableContext
@using BlazorComponentHeap.Components.Tabs

<div class="page-cnt">

    <BCHTabsDraggableContext TItem="string">
        <div class="test-page-container">
            <div class="tab-panel">

                <BCHTabs TItem="TabModel"
                         DefaultTabText="x => x.Name"
                         TabWidthPredicate="x => x.Width"
                         Draggable="true"
                         ScrollTabWidth="200"
                         Items="_items">

                    @* <TabTemplate Context="item"> *@
                    @*     <div class="bch-no-selectable-text" *@
                    @*          style="width: 100%; height: 100%; border: 1px solid blue; @(_selected1 == item ? "background: yellow;" : "")"> *@
                    @*         @($"{item}") *@
                    @*     </div> *@
                    @* </TabTemplate> *@

                    <ContentTemplate Context="item">

                        @* @if (item.Contains("0")) *@
                        @* { *@
                        @*     <TestContentComponent/> *@
                        @* } *@
                        @* else *@
                        @* { *@
                        @*     <div class="tab-content-wrapper">@item</div> *@
                        @* } *@
                        
                        <div class="tab-content-wrapper">@item.Name</div>

                    </ContentTemplate>

                </BCHTabs>

            </div>

            <div class="tab-panel">

                @* <BCHTabs TItem="string" *@
                @*          Draggable="true" *@
                @*          @bind-Selected="_selected2" *@
                @*          Items="_items2"> *@
                @* *@
                @*     <TabTemplate Context="item"> *@
                @*         <div class="bch-no-selectable-text" *@
                @*              style="width: 100%; height: 100%; border: 1px solid blue; @(_selected2 == item ? "background: yellow;" : "")"> *@
                @*             @($"{item}") *@
                @*         </div> *@
                @*     </TabTemplate> *@
                @* *@
                @*     <ContentTemplate Context="item"> *@
                @*         $1$ @if (item.Contains("0")) #1# *@
                @*         $1$ { #1# *@
                @*         $1$     <TestContentComponent/> #1# *@
                @*         $1$ } #1# *@
                @*         $1$ else #1# *@
                @*         $1$ { #1# *@
                @*         $1$     <div class="tab-content-wrapper">@item</div> #1# *@
                @*         $1$ } #1# *@
                @*          *@
                @*         <div class="tab-content-wrapper">@item</div> *@
                @*     </ContentTemplate> *@
                @* *@
                @* </BCHTabs> *@

            </div>

        </div>
    </BCHTabsDraggableContext>

</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>