@page "/radio-buttons"

<div class="page-cnt">

    @* <div>Selected: @_selected</div> *@
    
    <BCHRadioButtonsContainer TItem="string">
        <BCHRadioButton TItem="string" Key="@("Item 1")" />
        <BCHRadioButton TItem="string" Key="@("Item 2")"/>
        <BCHRadioButton TItem="string" Key="@("Item 3")"/>
        <BCHRadioButton TItem="string" Key="@("Item 4")"/>
        <BCHRadioButton TItem="string" Key="@("Item 5")"/>
    </BCHRadioButtonsContainer>

    <BCHRadioButtonsContainer TItem="string">
        <BCHRadioButton TItem="string" Key="@("Item 5")" Disabled="true"/>
        <BCHRadioButton TItem="string" Key="@("Item 6")"/>
        <BCHRadioButton TItem="string" Key="@("Item 7")"/>
        <BCHRadioButton TItem="string" Key="@("Item 8")"/>
    </BCHRadioButtonsContainer>

    <br/>

    <BCHRadioButtonsContainer TItem="string">
        <BCHRadioButton TItem="string" Key="@("Item 9")" />
        <BCHRadioButton TItem="string" Key="@("Item 10")">
            <DataTemplate>
                <h3>my-custom-data-text</h3>
            </DataTemplate>
        </BCHRadioButton>
        <BCHRadioButton TItem="string" Key="@("Item 11")" />
        <BCHRadioButton TItem="string" Key="@("Item 12")" />
        <BCHRadioButton TItem="string" Key="@("Item 13")">
            <CircleTemplate Context="selected">
                <div style="width: 20px; height: 20px; background: @(selected ? "red" : "black");"></div>
            </CircleTemplate>
        </BCHRadioButton>
        <BCHRadioButton TItem="string" Key="@("Item 14")" />
        <BCHRadioButton TItem="string" Key="@("Item 15")">
            <ContentTemplate Context="selected">
                <div style="color: @(selected ? "red" : "");">custom-text</div>
            </ContentTemplate>
        </BCHRadioButton>
    </BCHRadioButtonsContainer>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>