@using Bch.Components.Zoom.Models

<div class="bch-component bch-navigation-cnt @(_isTopConstrained && _isBottomConstrained && _isLeftConstrained && _isRightConstrained ? "bch-all-constrained" : "")">
    <div id="@_wrapperId"
         class="bch-scroll-cnt bch-navigation-cs-container"
         @ontouchstart="OnTouchStartAsync"
         @ontouchend="OnTouchEnd"
         @ontouchmove="OnTouchMove"
         @onmousemove="OnMouseMove"
         @ontouchleave="OnMouseLeaveUp"
         @ontouchmove:stopPropagation

         @onmousedown="OnMouseDown"
         @onmouseup="OnMouseLeaveUp"
         @onmouseleave="OnMouseLeaveUp"
         mousewheel-prevent-default="@ZoomOnMouseWheel"
         mousewheel-stop-propagation="@ZoomOnMouseWheel">

        <div class="bch-scroller bch-navigation-cs-panel"
             style="@GetNavigationStyle()">

            @ChildContent(new ZoomUpdateSnapshot
            {
                PosX = _pos.X,
                PosY = _pos.Y,
                Scale = Scale,
                ScaleLinear = _scale,
                AngleInRadians = _rotationAngle,
                UserInteraction = _userInteraction
            })

        </div>
    </div>
</div>