@using Bch.Components.Zoom

<div id="@_cropperId"
     style="@($"background: {BackgroundColor}; pointer-events: {(_processingData ? "none" : "all")};")"
     class="bch-cropper-container bch-no-mobile-selection @(_loaded ? "bch-loaded" : "")">

    <BchZoom @ref="_bchZoom"
             ZoomContext="_zoomContext"
             BoundsByParent="false"
             ZoomOnMouseWheel="@ScaleOnMouseWheel"
             UseTouchRotation="@UseTouchRotation"
             MinScale="@MinScale"
             MaxScale="@MaxScale"
             ViewMode="@ViewMode"
             ContainOutside="true"
             Factor="ScaleFactor">
        <div class="bch-image-wrapper bch-no-selectable-text"
             draggable="false"
             mousewheel-prevent-default="@ScaleOnMouseWheel"
             mousewheel-stop-propagation="@ScaleOnMouseWheel">
            <img id="@_imageId"
                 class="bch-no-selectable-text"
                 draggable="false"
                 @onload="async () => { await _bchZoom!.CenterContentAsync(); _loaded = true; StateHasChanged(); }"
                 src="@ImageUrl"/>
        </div>
    </BchZoom>
</div>

