@using Bch.Components.Modal
@using Bch.Components.Calendar.CalendarDays
@using Bch.Components.Calendar.CalendarMonths

<div class="bch-component bch-datepicker-wrapper @CssClass @GetThemeCssClass() @_cssKey" id="@_containerId"
     tabindex="-1">
    <div class="bch-datepicker" @onclick="OnCalendarClickedAsync">
        <input id="@_inputId"
               class="bch-datepicker-input"
               readonly
               autocomplete="unrechable-filter-to-autocomplete"
               value="@GetValues()"
               @ref="@_inputRef"/>
        <div class="bch-datepicker-img"></div>
    </div>

    <BchModal CssClass="@($"bch-calendar-days-modal-wrapper {( _openUp ? "bch-open-up" : "") } {CssClass}")"
              Width="250px"
              Height="unset"
              X="@($"{_containerPos.X.ToString(_nF)}px")"
              Y="@($"{_containerPos.Y.ToString(_nF)}px")"
              Show="_showDate"
              ShowChanged="OnDateChanged">

        <BchCalendarDays Id="@_calendarDaysId"
                         Culture="@Culture"
                         DefaultMonth="_selectedMonth"
                         DefaultYear="_selectedYear"
                         StartDay="_defaultStartDay"
                         EndDay="_defaultEndDay"
                         OnFocusOut="() => _inputRef.FocusAsync()"
                         IsDateRange="true"
                         SelectedStartDay="SetStartDay"
                         @bind-Values="Values"
                         TrustedValues="TrustedValuesAsync"
                         Theme="@(Theme ?? ThemeCascading)"
                         OnCloseDate="() => { _showDate = false; return OnShowModeChangedAsync(); }"
                         IsShowMonth="e => { _showMonth = e; _showDate = false; return OnShowModeChangedAsync(); }"/>

    </BchModal>

    <BchModal CssClass="@($"bch-calendar-months-modal-wrapper {( _openUp ? "bch-open-up" : "") } {CssClass}")"
              Width="250px"
              Height="unset"
              X="@($"{_containerPos.X.ToString(_nF)}px")"
              Y="@($"{_containerPos.Y.ToString(_nF)}px")"
              Show="_showMonth"
              ShowChanged="OnMonthChanged">

        <BchCalendarMonths Id="@_calendarMonthsId"
                           YearsSelectContentId="@_yearsSelectContentId"
                           SelectedMonth="_selectedMonth"
                           SelectedYear="_selectedYear"
                           MonthChanged="e => { _selectedMonth = e; StateHasChanged(); }"
                           YearChanged="e=> { _selectedYear = e; StateHasChanged(); }"
                           CssClass="@CssClass"
                           Theme="@(Theme ?? ThemeCascading)"
                           IsShowDate="e => { _showMonth = false; _showDate = e; return OnShowModeChangedAsync(); }"
                           OnFocusOut="() => _inputRef.FocusAsync()"/>
    </BchModal>

</div>

<style>
    .bch-calendar-days-modal-wrapper,
    .bch-calendar-months-modal-wrapper {
        transform: translateY(49px);
    }
    .bch-calendar-days-modal-wrapper.bch-open-up,
    .bch-calendar-months-modal-wrapper.bch-open-up {
        transform: translateY(-100%);
        margin-top: -8px;
    }
</style>

<style>
    /* THEME: LightGreen */
    .@(_cssKey).bch-theme-light-green.bch-datepicker-wrapper .bch-datepicker,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker {
        box-shadow: 1px 0px 3px rgba(203, 203, 203, 0.25), 0px 1px 3px rgba(203, 203, 203, 0.25);
    }

    /* THEME: Light */
    .@(_cssKey).bch-theme-light.bch-datepicker-wrapper .bch-datepicker,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker {
        background-color: #FFFFFF;
        box-shadow: 1px 0px 3px rgba(200, 200, 200, 0.2), 0px 1px 3px rgba(200, 200, 200, 0.2);
    }

    .@(_cssKey).bch-theme-light.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-input,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-input {
        color: #212529;
    }

    /* THEME: Dark */
    .@(_cssKey).bch-theme-dark.bch-datepicker-wrapper .bch-datepicker,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker {
        background-color: #111827;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.35);
    }

    .@(_cssKey).bch-theme-dark.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-input,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-input {
        color: #E5E7EB;
    }

    .@(_cssKey).bch-theme-light-green.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-img,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-img {
        background-image: url("_content/Bch.Components.Calendar/img/calendar-icon.svg");
    }

    .@(_cssKey).bch-theme-light.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-img,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-img {
        background-image: url("_content/Bch.Components.Calendar/img/calendar-icon-gray.svg");
    }

    .@(_cssKey).bch-theme-dark.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-img,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-datepicker-wrapper .bch-datepicker .bch-datepicker-img {
        background-image: url("_content/Bch.Components.Calendar/img/calendar-icon-white.svg");
    }
</style>
