@using Bch.Components.Modal
@using Bch.Components.Calendar.CalendarDays
@using Bch.Components.Calendar.CalendarMonths
@using Bch.Modules.Themes.Models

<div class="bch-component bch-datepicker-wrapper @CssClass @GetThemeCssClass()" id="@_containerId" tabindex="-1">
    <div class="bch-datepicker" @onclick="OnCalendarClickedAsync">
        <input id="@_inputId"
               class="bch-datepicker-input"
               readonly
               autocomplete="unrechable-filter-to-autocomplete"
               value="@GetValues()"
               @ref="@_inputRef"/>
        @if (EffectiveTheme == BchTheme.Dark)
        {
            <img class="bch-datepicker-img" src="_content/Bch.Components.Calendar/img/calendar-icon-white.svg" />
        }
        else if (EffectiveTheme == BchTheme.Light)
        {
            <img class="bch-datepicker-img" src="_content/Bch.Components.Calendar/img/calendar-icon-gray.svg" />
        }
        else
        {
            <img class="bch-datepicker-img" src="_content/Bch.Components.Calendar/img/calendar-icon.svg" />
        }
    </div>

    <BchModal CssClass="@($"bch-calendar-days-modal-wrapper {CssClass}")"
              Width="250px"
              Height="unset"
              X="@($"{_containerPos.X.ToString(_nF)}px")"
              Y="@($"{_containerPos.Y.ToString(_nF)}px")"
              Show="_showDate"
              ShowChanged="OnDateChanged">

        <BchCalendarDays Id="@_calendarDaysId"
                         Culture="@Culture"
                         DefaultMonth="_selectedMonth"
                         DefaultYear="_selectedYear"
                         StartDay="_defaultStartDay"
                         EndDay="_defaultEndDay"
                         OnFocusOut="() => _inputRef.FocusAsync()"
                         IsDateRange="true"
                         SelectedStartDay="SetStartDay"
                         @bind-Values="Values"
                         TrustedValues="TrustedValuesAsync"
                         Theme="@EffectiveTheme"
                         OnCloseDate="() => { _showDate = false; return OnShowModeChangedAsync(); }"
                         IsShowMonth="e => { _showMonth = e; _showDate = false; return OnShowModeChangedAsync(); }"/>

    </BchModal>

    <BchModal CssClass="@($"bch-calendar-months-modal-wrapper {CssClass}")"
              Width="250px"
              Height="unset"
              X="@($"{_containerPos.X.ToString(_nF)}px")"
              Y="@($"{_containerPos.Y.ToString(_nF)}px")"
              Show="_showMonth"
              ShowChanged="OnMonthChanged">

        <BchCalendarMonths Id="@_calendarMonthsId"
                           YearsSelectContentId="@_yearsSelectContentId"
                           SelectedMonth="_selectedMonth"
                           SelectedYear="_selectedYear"
                           MonthChanged="e => { _selectedMonth = e; StateHasChanged(); }"
                           YearChanged="e=> { _selectedYear = e; StateHasChanged(); }"
                           Theme="@EffectiveTheme"
                           IsShowDate="e => { _showMonth = false; _showDate = e; return OnShowModeChangedAsync(); }"
                           OnFocusOut="() => _inputRef.FocusAsync()"/>
    </BchModal>

</div>

<style>
    .bch-calendar-days-modal-wrapper,
    .bch-calendar-months-modal-wrapper {
        transform: translateY(49px);
    }
</style>
