@using BlazorComponentHeap.Table.Models
@typeparam TRowData

<div id="@_containerId" class="bch-table-head-container">
    <div class="head-name-container @(Column.FilterType is not ColumnFilterType.None ? "bch-filtering" : "")">

        @if (Column.ThTemplate is not null)
        {
            @Column.ThTemplate
        }
        else
        {
            <div class="head-name">
                @if (Column.IsSorted)
                {
                    <img class="bch-sort-checkbox"
                         @onclick="async () => { await OnSortedAsync(Column.FilterProperty); }"
                         src="_content/BlazorComponentHeap.Core/bch-img/table/arrow-top-bottom-sort.svg" />
                }
                <label class="title">@Column.Title</label>
            </div>
        }

    </div>

    @if (Column.FilterType is not ColumnFilterType.None)
    {
        <div class="head-filtering">

            @if (Column.FilterType == ColumnFilterType.TextSearch)
            {
                <input placeholder="Search"
                       class="bch-input-text"
                       type="text"
                       @oninput="async (e) => { await OnFilterAsync(e, Column.FilterProperty); }"/>
            }
            @if (Column.FilterType == ColumnFilterType.NumberSearch)
            {
                <input placeholder="Search"
                       class="bch-input-number"
                       type="number" @oninput="async (e) => { await OnFilterAsync(e, Column.FilterProperty); }"/>
            }
            @if (Column.FilterType == ColumnFilterType.Select)
            {
                <BCHSelect TItem="string"
                           CssClass="@_selectTableClass"
                           Height="40"
                           DefaultText="All"
                           OptionNamePredicate="x => x"
                           Options="Column.SelectData"
                           SelectedChanged="async (e) => { await OnSelectedAsync(e, Column.FilterProperty); }"/>
            }
            @if (Column.FilterType == ColumnFilterType.MultiSelect)
            {
                <BCHSelect TItem="string"
                           CssClass="@_selectTableClass"
                           Height="40"
                           OptionNamePredicate="x => x"
                           Options="Column.SelectData"
                           DefaultText="All"
                           MultipleValues="true"
                           SelectedItems="_selectedItems"
                           OnSelectItem="async (e) => { await OnSelectedAsync(Column.FilterProperty); }"
                           OnDeselectItem="async (e) => { await OnSelectedAsync(Column.FilterProperty); }"/>
            }
            @if (Column.FilterType == ColumnFilterType.DateRange)
            {
                <BCHRangeCalendar ValuesChanged="async (e) => { await OnSelectDateAsync(e, Column.FilterProperty); }"
                                  CssClass="@_calendarTableClass"/>
            }
            @if (Column.FilterType == ColumnFilterType.Date)
            {
                <BCHCalendar ValueChanged="async (e) => { await OnSelectDateAsync(e, Column.FilterProperty); }"
                             CssClass="@_calendarTableClass"/>
            }
        </div>
    }
</div>

<style>
    .bch-table-head-container#@_containerId .bch-select-container.@_selectTableClass {
        border: 1px solid #E9EAEC;
        /*border-radius: 10px;*/
        filter: none !important;
    }

        .bch-table-head-container#@_containerId .bch-select-container.@_selectTableClass > .bch-content {
            top: 39px !important;
            border: 1px solid #E9EAEC;
            border-top: unset !important;
        }

        .bch-table-head-container#@_containerId .bch-select-container.@_selectTableClass .bch-button label {
            font-size: 12px !important;
            color: rgba(19, 18, 18, 0.6) !important;
        }

    .bch-table-head-container#@_containerId .bch-datepicker-wrapper.@_calendarTableClass .bch-datepicker {
        height: 40px !important;
        border: 1px solid #E9EAEC !important;
        border-radius: 10px !important;
        box-shadow: none !important;
    }

        .bch-table-head-container#@_containerId .bch-datepicker-wrapper.@_calendarTableClass .bch-datepicker .bch-datepicker-input {
            font-size: 12px !important;
            color: rgba(19, 18, 18, 0.6) !important;
        }

        .bch-table-head-container#@_containerId .bch-datepicker-wrapper.@_calendarTableClass .bch-datepicker .bch-datepicker-img {
            content: url("_content/BlazorComponentHeap.Core/bch-img/table/calendar-icon.svg") !important;
        }
        
    .bch-calendar-days-modal-wrapper.@_calendarTableClass,
    .bch-calendar-months-modal-wrapper.@_calendarTableClass {
        transform: translateY(40px) !important;
    }
</style>