@using Bch.Components.Modal
@typeparam TItem

<div id="@_containerId"
     class="@($"bch-component bch-select-container bch-no-selectable-text {GetThemeCssClass()} { (IsOpened ? "show" : "") } { (_selectedValue != null! ? "has-selected" : "") } { (UpperSide ? "bch-upper-side" : "") } {CssClass} {_cssKey}")"
     style="@($"width: {Width}px; height: {Height}px;")"
     tabindex="-1">

    <div class="bch-button bch-no-selectable-text"
         @onclick="OnSelectClickedAsync">

        @if (Filtering)
        {
            <div class="search-icon bch-no-selectable-text @(IsOpened ? "opened" : "")"></div>
        }

        <input id="@_inputId"
               class="@(!Filtering ? "removed" : "")"
               @ref="@_inputRef"
               @bind-value="@Filter"
               @bind-value:event="oninput"
               @onkeydown="OnInputKeyDownAsync"
               placeholder="@_placeholder"
               type='text'
               autocomplete="unrechable-filter-to-autocomplete"/>
        
        @if (!Filtering)
        {
            <label class="bch-no-selectable-text">@_placeholder</label>
        }

        <span></span>
    </div>

</div>

<BchModal
    CssClass="@($"bch-select-content-modal-wrapper {CssClass} {_contentClass}" + (UpperSide ? "bch-upper-side" : ""))"
    Width="@($"{_contentWidth.ToString(_nF)}px")"
    Height="unset"
    X="@($"{_containerPos.X.ToString(_nF)}px")"
    Y="@(UpperSide ? $"{(_containerPos.Y - (ContentHeight < GetContentHeight() ? ContentHeight : GetContentHeight())).ToString(_nF)}px" : $"{_containerPos.Y.ToString(_nF)}px")"
    @bind-Show="IsOpened">

    <div id="@ContentId"
         class="bch-content @_cssKey @GetThemeCssClass() @(UpperSide ? "bch-upper-side" : "") bch-no-selectable-text"
         style="@($"max-height: {ContentHeight}px; width: {Width}px;")">
        <div id="@ScrollerId" class="bch-scroller bch-no-selectable-text">

            @foreach (var group in _groups)
            {
                <div @key="@group"
                     class="@($"bch-group bch-no-selectable-text " + $"{(group.Expanded ? "expanded" : "")} ")"
                     style="@($"max-height: {(group.Expanded ? (ItemHeight * (group.Elements.Count + 1)) : ItemHeight)}px")">

                    @if (GroupPredicate is not null)
                    {
                        <div class="bch-group-wrapper bch-no-selectable-text"
                             style="@($"height: {ItemHeight}px;")"
                             @onclick="() => { OnGroupClicked(group); }">

                            @if (GroupTemplate != null!)
                            {
                                @GroupTemplate(group.Key)
                            }
                            else
                            {
                                <div class="name bch-no-selectable-text">@group.Name</div>
                                <span></span>
                            }
                        </div>
                    }

                    @foreach (var element in group.Elements)
                    {
                        <div @key="element"
                             style="@($"height: {ItemHeight}px;")"
                             class="@($"bch-option bch-no-selectable-text " + $"{(IsSelected(element.Item) ? "selected" : "")} " + $"{CssItemPredicate.Invoke(element.Item)}")"
                             @onclick='async () => { await OnOptionClickedAsync(element.Item); }'>
                            @if (OptionTemplate == null)
                            {
                                @element.Name
                            }
                            else
                            {
                                @OptionTemplate(element.Item)
                            }
                        </div>
                    }
                </div>
            }

            @if (_groups.Count == 0)
            {
                <div class="@("bch-group expanded")"
                     style="@($"max-height: {ItemHeight}px;")">
                    <div style="@($"height: {ItemHeight}px;")"
                         class="@($"bch-option empty bch-no-selectable-text ")">
                        @NoItemsText
                    </div>
                </div>
            }

        </div>
    </div>
</BchModal>

<style>
    .@(_contentClass).bch-select-content-modal-wrapper:not(.bch-upper-side) {
        transform: translateY(@(Height)px);
    }
</style>

<style>

    /* THEME: LightGreen (current) */

    .@(_cssKey).bch-theme-light-green.bch-content,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content {
        border-top-color: #33B469;
    }

    .@(_cssKey).bch-theme-light-green.bch-content.bch-upper-side,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content.bch-upper-side {
        border-bottom-color: #33B469;
    }

    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller::-webkit-scrollbar-thumb,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb {
        background: rgba(51, 180, 105, 0.6);
    }

    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller::-webkit-scrollbar-thumb:hover,
    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller::-webkit-scrollbar-thumb.has-hover,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb:hover,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb.has-hover {
        background: rgba(51, 180, 105, 0.85);
    }

    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty):hover,
    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty).has-hover,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty):hover,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty).has-hover {
        background: rgba(51, 180, 105, 0.1);
        border-left-color: #33B469;
    }

    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller > .bch-group > .bch-option.selected,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option.selected {
        background: rgba(51, 180, 105, 0.8);
        color: #FEFEFE;
    }

    .@(_cssKey).bch-theme-light-green.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > span,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > span {
        background: url(_content/Bch.Components.Select/img/select-arrow-green.svg) center no-repeat;
    }

    .@(_cssKey).bch-theme-light-green.bch-select-container > .bch-button > span,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-select-container > .bch-button > span {
        background: url(_content/Bch.Components.Select/img/select-arrow-green.svg) center no-repeat;
    }

    .@(_cssKey).bch-theme-light-green.bch-select-container:hover,
    .@(_cssKey).bch-theme-light-green.bch-select-container.has-hover,
    .@(_cssKey).bch-theme-light-green.bch-select-container:focus-within,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-select-container:hover,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-select-container.has-hover,
    html.bch-theme-light-green .@(_cssKey).bch-no-theme-specified.bch-select-container:focus-within {
        filter: drop-shadow(0px 8px 14px rgba(183, 183, 183, 0.32));
        box-shadow: 0 0 0 2px rgba(51, 180, 105, 0.35);
    }

    /* THEME: Light (silver monochrome) */

    .@(_cssKey).bch-theme-light.bch-select-container,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-select-container {
        background: #FFFFFF;
    }

    .@(_cssKey).bch-theme-light.bch-content,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content {
        background: #FFFFFF;
        border-top-color: #BDBDBD;
    }

    .@(_cssKey).bch-theme-light.bch-content.bch-upper-side,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content.bch-upper-side {
        border-bottom-color: #BDBDBD;
    }

    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller::-webkit-scrollbar-thumb,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb {
        background: #AFAFAF;
    }

    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller::-webkit-scrollbar-thumb:hover,
    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller::-webkit-scrollbar-thumb.has-hover,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb:hover,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb.has-hover {
        background: #9A9A9A;
    }

    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty):hover,
    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty).has-hover,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty):hover,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty).has-hover {
        background: rgba(0, 0, 0, 0.06);
        border-left-color: #BDBDBD;
    }

    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller > .bch-group > .bch-option.selected,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option.selected {
        background: #BDBDBD;
        color: #1F2937;
    }

    .@(_cssKey).bch-theme-light.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > span,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > span {
        background: url(_content/Bch.Components.Select/img/select-arrow.svg) center no-repeat;
    }

    .@(_cssKey).bch-theme-light.bch-select-container > .bch-button > span,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-select-container > .bch-button > span {
        background: url(_content/Bch.Components.Select/img/select-arrow.svg) center no-repeat;
    }

    .@(_cssKey).bch-theme-light.bch-select-container:hover,
    .@(_cssKey).bch-theme-light.bch-select-container.has-hover,
    .@(_cssKey).bch-theme-light.bch-select-container:focus-within,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-select-container:hover,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-select-container.has-hover,
    html.bch-theme-light .@(_cssKey).bch-no-theme-specified.bch-select-container:focus-within {
        filter: drop-shadow(0px 8px 14px rgba(183, 183, 183, 0.32));
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.08);
    }

    /* THEME: Dark */

    .@(_cssKey).bch-theme-dark.bch-select-container,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container {
        background: #111827
    }

    .@(_cssKey).bch-theme-dark.bch-select-container > .bch-button > input,
    .@(_cssKey).bch-theme-dark.bch-select-container > .bch-button > label,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container > .bch-button > input,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container > .bch-button > label {
        color: #E5E7EB;
        caret-color: #E5E7EB;
    }

    .@(_cssKey).bch-theme-dark.bch-select-container > .bch-button > input::placeholder,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container > .bch-button > input::placeholder {
        color: rgba(229,231,235,0.7);
    }

    .@(_cssKey).bch-theme-dark.bch-content,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content {
        background: #111827;
        border-top-color: #4B5563;
        filter: drop-shadow(0px 6px 12px rgba(0,0,0,0.35));
    }

    .@(_cssKey).bch-theme-dark.bch-content.bch-upper-side,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content.bch-upper-side {
        border-bottom-color: #4B5563;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller::-webkit-scrollbar-thumb,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb {
        background: #6B7280;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller::-webkit-scrollbar-thumb:hover,
    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller::-webkit-scrollbar-thumb.has-hover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb:hover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller::-webkit-scrollbar-thumb.has-hover {
        background: #9CA3AF;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller > .bch-group > .bch-option,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option {
        color: #D1D5DB;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > .name,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > .name {
        color: #D1D5DB;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty):hover,
    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty).has-hover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty):hover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option:not(.selected):not(.empty).has-hover {
        background: rgba(255, 255, 255, 0.08);
        border-left-color: #9CA3AF;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller > .bch-group > .bch-option.selected,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-option.selected {
        background: rgba(255,255,255,0.18);
        color: #F9FAFB;
    }

    .@(_cssKey).bch-theme-dark.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > span,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-content > .bch-scroller > .bch-group > .bch-group-wrapper > span {
        background: url(_content/Bch.Components.Select/img/select-arrow-white.svg) center no-repeat;
    }

    .@(_cssKey).bch-theme-dark.bch-select-container > .bch-button > span,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container > .bch-button > span {
        background: url(_content/Bch.Components.Select/img/select-arrow-white.svg) center no-repeat;
    }

    .@(_cssKey).bch-theme-dark.bch-select-container:hover,
    .@(_cssKey).bch-theme-dark.bch-select-container.has-hover,
    .@(_cssKey).bch-theme-dark.bch-select-container:focus-within,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container:hover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container.has-hover,
    html.bch-theme-dark .@(_cssKey).bch-no-theme-specified.bch-select-container:focus-within {
        filter: drop-shadow(0px 8px 14px rgba(0, 0, 0, 0.55));
        box-shadow: 0 0 0 2px rgba(156, 163, 175, 0.35);
    }
</style>