@page "/radio-buttons"
@using Bch.Components.RadioButton.RadioButtonComponent
@using Bch.Components.RadioButton.RadioButtonsContainer

<div class="page-cnt">
    
    <p onclick="history.go(-1)">Back</p>

    @* <div>Selected: @_selected</div> *@

    <BchRadioButtonsContainer TItem="string">
        <BchRadioButton TItem="string" Key="@("Item 1")"/>
        <BchRadioButton TItem="string" Key="@("Item 2")"/>
        <BchRadioButton TItem="string" Key="@("Item 3")"/>
        <BchRadioButton TItem="string" Key="@("Item 4")"/>
        <BchRadioButton TItem="string" Key="@("Item 5")"/>
    </BchRadioButtonsContainer>

    <BchRadioButtonsContainer TItem="string">
        <BchRadioButton TItem="string" Key="@("Item 5")" Disabled="true"/>
        <BchRadioButton TItem="string" Key="@("Item 6")"/>
        <BchRadioButton TItem="string" Key="@("Item 7")"/>
        <BchRadioButton TItem="string" Key="@("Item 8")"/>
    </BchRadioButtonsContainer>

    <br/>

    <BchRadioButtonsContainer TItem="string">
        <BchRadioButton TItem="string" Key="@("Item 9")"/>
        <BchRadioButton TItem="string" Key="@("Item 10")">
            <DataTemplate>
                <h3>my-custom-data-text</h3>
            </DataTemplate>
        </BchRadioButton>
        <BchRadioButton TItem="string" Key="@("Item 11")"/>
        <BchRadioButton TItem="string" Key="@("Item 12")"/>
        <BchRadioButton TItem="string" Key="@("Item 13")">
            <CircleTemplate Context="selected">
                <div style="width: 20px; height: 20px; background: @(selected ? "red" : "black");"></div>
            </CircleTemplate>
        </BchRadioButton>
        <BchRadioButton TItem="string" Key="@("Item 14")"/>
        <BchRadioButton TItem="string" Key="@("Item 15")">
            <ContentTemplate Context="selected">
                <div style="color: @(selected ? "red" : "");">custom-text</div>
            </ContentTemplate>
        </BchRadioButton>
    </BchRadioButtonsContainer>
</div>

<style>
    html {
        height: 100%;
    }

    body {
        height: 100%;
    }

    #app {
        height: 100%;
    }
</style>