<div class="bch-toggle @GetThemeCssClass()" id="@_toggleId">
    <input type="checkbox"
           class="toggle-button @(Disabled ? "toggle-disabled" : "")"
           style=""
           checked="@Value"
           @bind-value="@Value">
    <label for="toggle-button" class="text bch-no-selectable-text @(Disabled ? "text-disabled" : "")">@Label</label>
</div>

<style>
    .bch-toggle#@_toggleId > .toggle-button {
        background: @ResolveDefaultBackgroundColor();
    }

    .bch-toggle#@_toggleId > .toggle-button::after {
        background-color: @ResolveDefaultCircleColor();
    }

    .bch-toggle#@_toggleId > .toggle-button:checked::after {
        background-color: @ResolveCheckedCircleColor();
    }

    .bch-toggle#@_toggleId > .toggle-button:checked {
        background-color: @ResolveCheckedBackgroundColor();
    }
</style>